<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpendWise</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="overlay" id="overlay" onclick="toggleOverlay(0)" style="display: none;"></div>
    <div class="app-bar">
      <div class="menu-icon" id="titleIcon">
        <i class="material-icons" id="menuOpen" style="display: block;">menu</i>
        <i class="material-icons" id="backHome" style="display: none;">arrow_back</i>
      </div>
      <div class="screen-title" id="screenTitle">Screen Name</div>
      <div class="profile-icon" id=""><i class="material-icons">account_circle</i></div>
    </div>
    <div class="menu-container" id="menuContainer">
      <div class="menu-header">
        <div class="menu-logo"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Description"></div>
        <div class="menu-close"><i class="material-icons" id="menuClose">close</i></div>
      </div>
      <hr>
      <div class="menu-section">
        <div class="menu-item">
          <i class="material-icons">home</i><span>Home</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">view_list</i><span>Transactions</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">fact_check</i><span>Budgets</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">event_repeat</i><span>Recurring</span>
        </div>
      </div>
      <hr>
      <div class="menu-section">
        <div class="menu-item">
          <i class="material-icons">category</i><span>Categories</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">account_balance</i><span>Accounts</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">trending_up</i><span>Reports</span>
        </div>
      </div>
      <hr>
      <div class="menu-section">
        <div class="menu-item">
          <i class="material-icons">upload</i><span>Export</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">download</i><span>Import</span>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="screen" id="home-screen" name="Home">
        <div class="homeScreenContent" id="home-screen-content">
         <!--  <div class="card">
            <div class="logo">Account Info</div>
            <div class="account-name">Savings Account</div>
            <div class="total-balance">Total Balance: $12,345</div>
            <div class="balance-info">
                <div>
                    <span>Fixed Expenses</span><br>
                    <span class="amount">$2,500</span>
                </div>
                <div>
                    <span>Available to Spend</span><br>
                    <span class="amount">$9,845</span>
                </div>
            </div>
          </div>--> 
          <h3>Accounts Overview</h3>
          <table border="1" id="overviewTable">
            <!-- <thead>
                <tr>
                    <th>Account</th>
                    <th>Current Balance</th>
                    <th>Total Dues</th>
                    <th>Total Spare</th>
                </tr>
            </thead>
            <tbody id="overview-tabe-body">
                <tr>
                    <td>John Doe</td>
                    <td>$1,500</td>
                    <td>$200</td>
                    <td>$1,300</td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>$3,200</td>
                    <td>$500</td>
                    <td>$2,700</td>
                </tr>
            </tbody> -->
          </table>
          
        </div>
        
        <div class="floating-button" id="">
          <button id="addTnxPopBtn" onclick="addTxnPopup(1)">+</button>
        </div>
      </div>
      <div class="screen" id="view-transactions-screen" name="Transactions" style="display: none;">
        <!-- <div class="heading1">View Transactions (Placeholder)</div> -->

        <div class="viewTxnContainer" id="view-Txn-Container">
          <div class="expense-card expense">
            <div class="icon">💰</div>
            <div class="details">
                <h3>Food & Dining</h3>
                <p>McDonald's Lunch - Visa Card</p>
                <p>2025-02-01 | 12:30 PM</p>
            </div>
            <div class="amount negative">- ₹350</div>
          </div>
          <div class="expense-card income">
            <div class="icon">💼</div>
            <div class="details">
                <h3>Salary</h3>
                <p>Credited to Savings Account</p>
                <p>2025-02-01 | 09:00 AM</p>
            </div>
            <div class="amount positive">+ ₹50,000</div>
          </div>
        </div>
      </div>
      <div class="screen" id="overview-screen" name="Budgets" style="display: none;">
        <div class="floating-button" id="">
          <button id="" onclick="">+</button>
        </div>
      </div>
      <div class="screen" id="recurring-screen" name="Recurring" style="display: none;">
        <div class="rec-payments" id="recPayments">
          <div class="rec-record paid" id="">
            <div class="date">
              <div class="txn_date">27</div>
              <div class="txn_month">May</div>
            </div>
            <div class="content">
              <h4>Cook</h4>
              <span>Amount: 2800</span>
            </div>
            <div class="status">
              <span>Paid</span>
            </div>
          </div>
          <div class="rec-record overdue" id="">
            <div class="date">
              <div class="txn_date">1</div>
              <div class="txn_month">Feb</div>
            </div>
            <div class="content">
              <h4>EMI</h4>
              <span>Amount: 1400</span>
            </div>
            <div class="status ">
              <span>Overdue</span>
            </div>
          </div>
          <div class="rec-record unpaid" id="">
            <div class="date">
              <div class="txn_date">2</div>
              <div class="txn_month">Feb</div>
            </div>
            <div class="content">
              <h4>WiFi</h4>
              <span>Amount: 800</span>
            </div>
            <div class="status">
              <span>Unpaid</span>
            </div>
          </div>
          <div class="rec-record skipped" id="">
            <div class="date">
              <div class="txn_date">5</div>
              <div class="txn_month">Feb</div>
            </div>
            <div class="content">
              <h4>Cook</h4>
              <span>Amount: 2800</span>
            </div>
            <div class="status ">
              <span>Skipped</span>
            </div>
          </div>
        </div>
        <div class="floating-button" id="">
          <button id="" onclick="">+</button>
        </div>
      </div>
      <div class="screen" id="reports-screen" name="Reports" style="display: none;">
        <!-- <div class="heading1">Reports (Placeholder)</div> -->
      </div>
      <div class="screen" id="add-transaction-screen" name="Add Transaction" style="display: none;">
        <div class="txnContainer" id="addTxnPopup">
          <!-- <div class="closePopup">
            <button class="" id="closeTxnPopupBtn" onclick="addTxnPopup(0)"><i class="material-icons">close</i></button>
          </div>        -->
          <!-- <div class="heading1">Add Transaction</div> -->
          <!-- Transaction Type Dropdown -->
          <div class="txn-type-container">
            <button class="selected" id="type-btn-expenditure" name="expenditure" onclick="changeTxnTyp(0)">Expense</button>
            <button id="type-btn-income" name="income" onclick="changeTxnTyp(1)">Income</button>
            <button id="type-btn-transfer" name="transfer"  onclick="changeTxnTyp(2)">Transfer</button>
          </div>
          <!-- <label for="transaction-type">Transaction Type:</label>
          <select id="transaction-type-sc01" name="transaction-type">
            <option value="income">Income</option>
            <option value="expenditure" selected>Expenditure</option>
            <option value="transfer">Transfer</option>
          </select> -->

          <!-- Amount Text Field -->
          <!-- <h3>Amount:</h3> -->
          <input type="text" id="amount-sc01" name="amount" placeholder="Enter Amount">
          <br>

          <!-- Description Text Field -->
          <!-- <label for="description">Description:</label> -->
          <input type="text" id="description-sc01" name="description" placeholder="Enter Description">
          <br>
          
          <!-- Category Dropdown -->
          <!-- <label for="category">Category:</label> -->
          <div class="categoryContainer">
            <select id="category-drop-sc01" name="category">
              <option value="">Choose Category</option>
            </select>
            <input type="text" id="custom-category-input" name="custom-category" placeholder="Enter Category" style="display: none;">
            <button type="button" id="add-category-btn" onclick="toggleCategoryInput()">Add</button>
          </div>

          <!-- Source Dropdown -->
          <!-- <label for="source">Source:</label> -->
          <select id="source-drop-sc01" name="source">
            <option value="">Choose Account</option>
          </select>
          <br>

          <!-- DateTime Picker -->
          <!-- <label for="transaction-datetime">Date and Time:</label> -->
          <input type="datetime-local" id="transaction-datetime-sc01" name="transaction-datetime">
          <button class="submitTxn" onclick="addTxn()">Add Transaction</button>
        </div>
      </div>
    </div>

    <div class="bottom-nav">
      <div class="nav-item nav-active" id="nav-home"><i class="material-icons">home</i><span>Home</span></div>
      <div class="nav-item" id="nav-view-transactions"><i class="material-icons">view_list</i><span>Transactions</span></div>
      <div class="nav-item" id="nav-overview"><i class="material-icons">fact_check</i><span>Budgets</span></div>
      <div class="nav-item" id="nav-recurring"><i class="material-icons">event_repeat</i><span>Recurring</span></div>
      <!-- <div class="nav-item" id="nav-reports"><i class="material-icons">equalizer</i><span>Reports</span></div> -->
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
