<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpendWise</title>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calc.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon-192.png') }}">
  </head>
  <body>
    <div class="app-bar">
      <div class="menu-icon" id="titleIcon">
        <i class="material-icons" id="menuOpen" style="display: block;">menu</i>
        <i class="material-icons" id="backHome" style="display: none;">arrow_back</i>
      </div>
      <div class="screen-title" id="screenTitle">Screen Name</div>
      <div class="profile-icon" id=""><i class="material-icons">account_circle</i></div>
    </div>
    <div class="menu-container" id="menuContainer">
      <div class="menu-header">
        <div class="menu-logo"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Description"></div>
        <!-- <div class="menu-close"><i class="material-icons" id="menuClose">close</i></div> -->
      </div>
      <hr>
      <div class="menu-section">
        <div class="menu-item">
          <i class="material-icons">home</i><span>Home</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">view_list</i><span>Transactions</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">fact_check</i><span>Budgets</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">event_repeat</i><span>Recurring</span>
        </div>
      </div>
      <hr>
      <div class="menu-section">
        <div class="menu-item">
          <i class="material-icons">category</i><span>Categories</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">account_balance</i><span>Accounts</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">trending_up</i><span>Reports</span>
        </div>
      </div>
      <hr>
      <div class="menu-section">
        <div class="menu-item">
          <i class="material-icons">upload</i><span>Export</span>
        </div>
        <div class="menu-item">
          <i class="material-icons">download</i><span>Import</span>
        </div>
      </div>
    </div>
    <div class="overlay" id="menu-overlay" style="display: none;"></div>
    <div class="main-content">
      <div class="screen" id="home-screen" name="Home">
        <div class="homeScreenContent" id="home-screen-content">
          <div class="homeAlertContainer" id="home-alert-container">
            <div class="homeAlert">
              <i class="material-icons">report</i>
              <span>You have overdue payments!</span>
              <i class="material-icons" id="close-alert">close</i>
            </div>
          </div>
          <div class="slider-container">
            <div class="slider" id="slider">
                <div class="overview-card overview-placeholder">
                  <span>Loading...</span>
                </div>
            </div>
            <div class="dots" id="dots"></div>
          </div>
          <div class="home-today-container">
            <span>Today</span>
            <div class="values">
              <div class="spent">
                <span>Spent Today</span>
                <span id="todaySpent">...</span>
              </div>
              <div class="gained">
                <span>Gained Today</span>
                <span id="todayGained">...</span>
              </div>
            </div>
          </div>
          <div class="home-mtd-stats-container">
            <span>MTD Stats</span>
            <ul>
              <li>
                <span>Total Spent (Non Recurring)</span>
                <span id="monthSpent">Loading...</span>
              </li>
              <!-- <li>
                <span>Total Spent (Recurring)</span>
                <span id="monthSpent">Loading...</span>
              </li> -->
              <li>
                <span>Total Gained</span>
                <span id="monthGained">Loading...</span>
              </li>
              <li>
                <span>Daily Avg. Spend</span>
                <span id="monthDailyAvgSpent">Loading...</span>
              </li>
            </ul>
          </div>
          <div class="home-mtd-daily-container">
            <span>MTD Daily Spend</span>
            <div class="chart">
              <canvas id="monthDailyChart"></canvas>
            </div>
          </div>
          <div class="home-mtd-container">
            <span>MTD Categorical Spend</span>
            <div class="chart">
              <canvas id="monthCatChart"></canvas>
              <div class="values">
                <ul>
                  <!-- <li>Travel: <span>4500</span></li>
                  <li>Travel: <span>4500</span></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
        </div>
        <div class="floating-button" id="">
          <button id="addTnxPopBtn" onclick="addTxnPopup(1)">+</button>
        </div>
      </div>
      <div class="screen" id="view-transactions-screen" name="Transactions" style="display: none;">
        <div class="viewTxnContainer" id="view-Txn-Container">
          <!-- <h4>14 Feb 2025</h4>
          <div class="expense-card expense">
            <div class="icon"><img class="txn-logo" src="{{ url_for('static', filename='assets/banklogos/idfb.png') }}"></div>
            <div class="details">
                <h3>Food & Dining</h3>
                <p>McDonald's Lunch - Visa Card</p>
                <p>2025-02-01 | 12:30 PM</p>
            </div>
            <div class="amount negative">- ₹350</div>
          </div> -->
          <div class="placeholder">Loading...</div>
        </div>
        <div class="edit-container" id="editTxnContainer">
          <div class="txn" id="edittxnlabel">

          </div>
          <div class="buttons">
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </div>
        <div class="overlay" id="txn-overlay" style="display: none;"></div>
      </div>
      <div class="screen" id="overview-screen" name="Budgets" style="display: none;">
        <div class="floating-button" id="">
          <button id="" onclick="">+</button>
        </div>
      </div>
      <div class="screen" id="recurring-screen" name="Recurring" style="display: none;">
        <div class="rec-payments" id="recPayments">
          <!-- <div class="rec-record paid" id="">
            <div class="date">
              <div class="txn_date">27</div>
              <div class="txn_month">May</div>
            </div>
            <div class="content">
              <h4>Cook</h4>
              <span>Amount: 2800</span>
            </div>
            <div class="status">
              <span>Paid</span>
            </div>
          </div> -->
          <div class="due-record">
            <div class="head">
              <div class="typ-logo"><i class="material-icons">autorenew</i></div>
              <div class="due-date">05 July 25</div>
              <!-- <div class="status bb">
                <div class="txt">Paid</div>
                <div class="status-logo"><i class="material-icons">check_small</i></div>
              </div> -->
            </div>
            <div class="body">
              <div class="left">
                <span class="title">Cook</span>
                <span class="amount">&#8377 2800</span>
              </div>
              <div class="right">
                <div class="txt">
                  <span class="a">Paid On</span>
                  <span class="b">07 July 25</span>
                </div>
                <div class="status-logo"><i class="material-icons">done</i></div>
              </div>
            </div>
          </div>
          <div class="due-record">
            <div class="head">
              <div class="typ-logo"><i class="material-icons">autorenew</i></div>
              <div class="due-date">05 July 25</div>
            </div>
            <div class="body">
              <div class="left">
                <span class="title">Cook</span>
                <span class="amount">&#8377 2800</span>
              </div>
              <div class="right">
                <div class="txt">
                  <span class="a">Paid On</span>
                  <span class="b">07 July 25</span>
                </div>
                <div class="status-logo"><i class="material-icons">done</i></div>
              </div>
            </div>
          </div>
          <div class="due-record">
            <div class="head">
              <div class="typ-logo"><i class="material-icons">autorenew</i></div>
              <div class="due-date">05 July 25</div>
            </div>
            <div class="body">
              <div class="left">
                <span class="title">Cook</span>
                <span class="amount">&#8377 2800</span>
              </div>
              <div class="right">
                <span class="a">Paid On</span>
                <span class="b">07 July 25</span>
              </div>
            </div>
          </div>
          <div class="due-record">
            <div class="head">
              <div class="typ-logo"><i class="material-icons">autorenew</i></div>
              <div class="due-date">05 July 25</div>
            </div>
            <div class="body">
              <div class="left">
                <span class="title">Cook</span>
                <span class="amount">&#8377 2800</span>
              </div>
              <div class="right">
                <span class="a">Paid On</span>
                <span class="b">07 July 25</span>
              </div>
            </div>
          </div>
        </div>
        <div class="floating-button" id="">
          <button id="" onclick="">+</button>
        </div>
      </div>
      <div class="screen" id="reports-screen" name="Reports" style="display: none;">
        <!-- <div class="heading1">Reports (Placeholder)</div> -->
      </div>
      <div class="screen" id="add-transaction-screen" name="Add Transaction" style="display: none;">
        <div class="txnContainer" id="addTxnPopup">
          <div class="txn-type-container ">
            <button class="selected" id="type-btn-expenditure" name="expenditure" onclick="changeTxnTyp(0)">Expense</button>
            <button id="type-btn-income" name="income" onclick="changeTxnTyp(1)">Income</button>
            <button id="type-btn-transfer" name="transfer"  onclick="changeTxnTyp(2)">Transfer</button>
          </div>
          <div class="amount-div-sc01">
            <!-- <span>&#8377</span> -->
            <i class="material-icons">currency_rupee</i>
            <input type="number" id="amount-sc01" name="amount" placeholder="Enter Amount">
            <!-- <i class="material-icons">calculate</i> -->
            <i class="fa-solid fa-calculator" id="calculatorIcon"></i>
          </div>
          <div class="amount-div-sc01">
            <i class="material-icons">category</i>
            <select id="category-drop-sc01" name="category">
              <option value="">Choose Category</option>
            </select>
            <input type="text" id="custom-category-input" name="custom-category" placeholder="Enter New Category" style="display: none;">
            <button type="button" id="add-category-btn" onclick="toggleCategoryInput()"><i class="material-icons">playlist_add</i></button>
          </div>
          <div class="amount-div-sc01">
            <i class="material-icons">account_balance</i>
            <select id="source-drop-sc01" name="source">
              <option value="">Choose Account</option>
            </select>
          </div>
          <div class="amount-div-sc01">
            <i class="material-icons">notes</i>
            <input type="text" id="description-sc01" name="description" placeholder="Enter Description">
          </div>
          <div class="date-time-container">
            <div class="item" id="dateDiv">
              <i class="material-icons">calendar_month</i>
              <span id="transactionDateSpan-sc01">dd/mm/yyyy</span>
              <input type="date" id="transaction-date-sc01" name="transaction-date" style="display: none;">
            </div>
            <div class="item" id="timeDiv">
              <i class="material-icons">schedule</i>
              <span id="transactionTimeSpan-sc01">HH:MM</span>
              <input type="time" id="transaction-time-sc01" name="transaction-time" style="display: none;">
            </div>
          </div>
          <button class="submitTxn" onclick="addTxn()">Add Transaction</button>
        </div>
      </div>
    </div>

    <div class="bottom-nav">
      <div class="nav-item nav-active" id="nav-home"><i class='bx  bx-home-alt'  ></i><span>Home</span></div>
      <div class="nav-item" id="nav-view-transactions"><i class='bx  bx-receipt'  ></i> <span>Transactions</span></div>
      <div class="nav-item" id="nav-overview"><i class='bx  bx-wallet-note'  ></i> <span>Budgets</span></div>
      <div class="nav-item" id="nav-recurring"><i class='bx  bx-calendar-detail'  ></i> <span>Recurring</span></div>
      <!-- <div class="nav-item" id="nav-reports"><i class="material-icons">equalizer</i><span>Reports</span></div> -->
    </div>

    <div class="sc-calc-calculator" id="calcPopup" style="display: none;">
      <input type="text" id="sc-calc-display" disabled>
      <div class="sc-calc-buttons">
          <button onclick="scCalcClearDisplay()">AC</button>
          <button onclick="scCalcAppendValue('%')">%</button>
          <button onclick="scCalcBackspace()">⌫</button>
          <button class="sc-calc-operator" onclick="scCalcAppendValue('/')">÷</button>
          <button onclick="scCalcAppendValue('7')">7</button>
          <button onclick="scCalcAppendValue('8')">8</button>
          <button onclick="scCalcAppendValue('9')">9</button>
          <button class="sc-calc-operator" onclick="scCalcAppendValue('*')">×</button>
          <button onclick="scCalcAppendValue('4')">4</button>
          <button onclick="scCalcAppendValue('5')">5</button>
          <button onclick="scCalcAppendValue('6')">6</button>
          <button class="sc-calc-operator" onclick="scCalcAppendValue('-')">-</button>
          <button onclick="scCalcAppendValue('1')">1</button>
          <button onclick="scCalcAppendValue('2')">2</button>
          <button onclick="scCalcAppendValue('3')">3</button>
          <button class="sc-calc-operator" onclick="scCalcAppendValue('+')">+</button>
          <button class="sc-calc-equal" style="font-size: 1.2em;" onclick="scCalcLogFinalValue()">Done</button>
          <button onclick="scCalcAppendValue('0')">0</button>
          <button onclick="scCalcAppendValue('.')">.</button>
          <button class="sc-calc-equal" onclick="scCalcCalculate()">=</button>
      </div>
    </div>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/static/sw.js')
            .catch(err => console.error('SW registration failed', err));
        });
      }
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calc.js') }}"></script>
  </body>
</html>
